<img src="../../assets/images/logo.svg" alt="dictionary logo" />
<div class="header-selection-container">
  <p-dropdown
    [options]="fontOptions"
    [(ngModel)]="selectedFont"
    (onChange)="switchFont()"
    [ngClass]="{ 'light-mode': !darkMode, 'dark-mode': darkMode }"
  ></p-dropdown>
  <div class="display-mode-selection-container">
    <p-inputSwitch (onChange)="switchViewMode()"></p-inputSwitch>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="22"
      height="22"
      viewBox="0 0 22 22"
      [ngClass]="{ 'light-moon': !darkMode, 'dark-moon': darkMode }"
    >
      <path
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M1 10.449a10.544 10.544 0 0 0 19.993 4.686C11.544 15.135 6.858 10.448 6.858 1A10.545 10.545 0 0 0 1 10.449Z"
      />
    </svg>
  </div>
</div>
