/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/fonts.scss";
@import "./assets/styles/colors.scss";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/bootstrap4-light-purple/theme.css";
@import "./app/header/header.component.scss";
@import "./app/search-bar/search-bar.component.scss";
@import "./app/definition/definition.component.scss";

body {
  margin:0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
  padding-top: 58px;
  min-height: 100vh;
}

.app-container.light-mode {
  background: $white;
}

.app-container.dark-mode {
  background: $near-black;
}

app-header,
app-search-bar,
app-definition {
  width: 50%;
}

@media (max-width: 1000px) {
  app-header,
  app-search-bar,
  app-definition {
    width: 100%;
    padding: 0 20px 0 20px;
  }
}
