$near-black: #050505;
$darkest-grey: #1F1F1F;
$dark-grey: #2D2D2D;
$grey: #3A3A3A;
$light-grey: #757575;
$lightest-grey: #E9E9E9;
$near-white: #F4F4F4;
$white: #FFFFFF;
$purple: #A445ED;
$red: #FF5252;